h1{
    background-color: #5c2a9d;
    /* margin-left: 100px;
    margin-bottom: 10px; */
    /* margin: 50px; */
    /* margin: 100px 220px; */
    margin: 25px 30px 50px 35px;
}
p{
    background-color: #82c4c3;
    /* padding-left: 50px; */
    /* padding: 10px 20px 30px 40px; */
    padding: 100px;
}